@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	box-sizing: border-box;
	margin:0;
	padding:0;	
}

body {
	font-family: 'Aleo';
	background-color: #282C34;
	height: 100%;
}

#body_nobg{
	font-family: 'Aleo';
	background: none;
	height: 0%;	
}

#about{
	background-image: url(images/a.svg);
	background-repeat: no-repeat;
}

#ota{
	background-image: url(images/ota.svg);
}

.btn{
	width:20rem;
	font-weight: bold;
	border-radius:13px 0px 13px 0px;
}

#btn_1{
	background:#56B6C2;
}

#btn_2{
	border-width: 0.1rem;
	border-color: #56B6C2;
	color:#56B6C2;
}

#holder{
	position: relative;
	margin-top:10%;
}


#arrow{

	border: 0px;
	background-color:rgba(0, 30, 3, 0);
	left:10%;
}

#link_btn{
	width:5rem;
	height:5rem;
	background-color:rgba(0, 30, 3, 0);
	border-color: rgba(0, 30, 3, 0);
}

#link_btn img{
	width:5rem;
	height:5rem;
}

@media only screen and (max-width: 375px) {
	#btn{

		margin-left:20%;
	}
	#b{

		margin-left:10%;
	}

}	

