@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	box-sizing: border-box;
	margin:0;
	padding:0;	
}

body {
	font-family: 'Aleo';
	background-color:  #001122;
	height: 100%;
	color:  #e8effb;
    animation-name: ex;
    animation-duration: 2s;
}

@keyframes ex {
    from {color: rgba(4,7,7,0);}
    to {color:  #e8effb;}
}

@keyframes nav {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes blob1 {
    from { left: 30rem;}
    to{ left: 5rem;}
}

@keyframes blob2 {
    from { left: -35rem;}
    to{ left: -15rem;}
}

#c{
	position: relative;
	top: 5vh;
	left: 5vw;
	width: max(91vw,25rem);
	height: max(90vh,50rem);
	border-radius: 2.5rem;
	background-color: #282C34;
}


ul{
	list-style-type: none;
	text-align: center;
	visibility: visible;
}

li{
	display: inline-block;
	font-size:max(3vw,1.5rem);
	padding-right: 3rem;
	padding-top:2rem;
}

li a{
	text-decoration:none;
	color:#BFC2C8;
}

li a:hover{
	color:white;
}

#text{
	display: inline-block;
	padding-top:10vw;
	padding-left: 10vw;
	width:50vw;
}

h1{
	font-size:9rem;
}

p{
	font-size:4.5rem;
}


#nav{

	display: inline-block;
	position: absolute;
	margin-top: 5%;
	left: 80%;
	width: 10vw;
    height: 3rem;
    animation-name: nav;
    animation-duration: 2s
}

#img{
	width:30vw;
	border-radius: 2.5rem;
	position:relative;
	bottom:20vh;
}

#blob{

    position: fixed;
    z-index: -100;
    width: 30rem;
    height: auto;
    
}

.blob-1{
    left: 5rem;
    animation-name: blob1;
    animation-duration: 1s;
}

.blob-2{
    left: -15rem; 
    top: 16rem; 
    transform: rotate(30deg); 
    width: 32rem;
    animation-name: blob2;
    animation-duration: 0.9s;
}

@media only screen and (max-width: 600px){

	#show{
		visibility: hidden;
	}

	h1{
		font-size:10rem;
	}
	
	#nav{
		z-index: 100;
		display: inline-block;
		position:relative;
	}

	#c{
		position: relative;
		top: 5vh;
		left: 3vw;
		width: max(91vw,25rem);
		height: max(90vh,50rem);
		border-radius: 2.5rem;
		background-color: #282C34;
	}

	#text{
		display: inline-block;
		padding-top:10vw;
		padding-left: 13%;
		width:100vw;
		position:relative;

	}

	h1{
		font-size:7rem;
	}
	
	p{
		font-size:3rem;
	}

	#img{
		width:20rem;
		border-radius: 2.5rem;
		position:relative;
		top:15vh;
		left:10vw;
	}

}