@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

*{
	box-sizing: border-box;
	margin:0;
	padding:0;	
}

body {
	font-family: 'Aleo';
	background-color:  #F4F8F8;
	width: 500%;
  color:#000000;

}

a{
  font-family: 'Zilla Slab', serif;
  position: fixed;
  font-size: 2.5rem;
  padding-left: 3rem; 
  padding-top: 2rem;
  text-decoration: none;
}


.left{
  margin-left: 83vw;
  color: #E3170A;
}

.bottom{
  margin-top: 80vh;
  color: #000022;
}

.center{
  position:absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  font-family: 'Encode Sans', sans-serif;
  font-size: 6rem;
}

p{
  font-family: 'Archivo', sans-serif;
  font-size: 2rem;
}

span{
  font-family: 'Archivo', sans-serif;
  font-size: 1.5rem;
  
}

header{
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  color: #FFE066;
}

.marquee{
  position: relative;
  left: -5rem;
  top: 100vh;
  width: 100%;

}

.marquee header{
  font-size: 5rem;
  color: #E3170A;
  text-overflow: ellipsis;
  position: fixed;
}

.about {
  margin-top: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  margin-left:6vw;
  grid-gap: 5rem;
}

.about img{
  width: 90%;
  height: auto;
  box-shadow: 0px 4px 10px 8px rgba(0, 0, 0, 0.25);
}

.about h1{
  font-size: 3.5rem;
  width:65%;
  text-align: center;
  padding-left: 6rem;
}

.square{
  width:5rem;
  height:auto;
}

@keyframes opas1{
  
}